<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Categories</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">eCommerce</li>
        <li class="breadcrumb-item fw-semibold">Categories</li>
    </ol>
</div>

<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h5 class="mb-0">Categories</h5>
        <div class="d-flex align-items-center">
            <form class="search-box position-relative me-15 d-none d-md-block">
                <input type="text" class="input-search d-block" (keyup)="applyFilter($event)" placeholder="Search here..">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
            <a mat-flat-button class="default-btn tagus small" (click)="openDialogCreate()">
                <i class="ri-add-fill"></i> Create New
            </a>
        </div>
    </mat-card-header>
    <mat-card-content> 
    <div style="overflow-x:auto; overflow-y:hidden" class="mat-elevation-z8 tagus-mat-table">
          <div  class="example-container" [hidden]="isEmpty">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div>
       <table  
        mat-table 
        matSort 
        matSortActive="{{sortActive}}"
        matSortDirection="asc"
        [dataSource]="dataSource">

        <!-- categoryId Column -->
        <ng-container matColumnDef="categoryId">
            <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">category ID</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="text-start">{{element.categoryId}}</mat-cell>
        </ng-container>
    
        <!-- categoryName Column -->
        <ng-container matColumnDef="categoryName">
            <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Category Name</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="text-start">{{element.categoryName}}</mat-cell>
        </ng-container>

        <!-- categoryNumber Column -->
        <ng-container matColumnDef="productNumber">
            <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Product Number</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="text-start">{{element.product.length}}</mat-cell>
        </ng-container>
    
        <!-- Action Column -->
        <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell (click)="$event.stopPropagation()" mat-cell *matCellDef="let element">
            <button  type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="actionMenu">
                <i class="ri-more-fill"></i>
            </button>
            <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                <button (click)="onEdit(element)" mat-menu-item type="button" class="bg-transparent border-none position-relative">
                    <i class="ri-edit-line"></i> Rename 
                </button>
                <button (click)="onDelete(element)" mat-menu-item type="button" class="bg-transparent border-none position-relative">
                    <i class="ri-delete-bin-line"></i> Remove
                </button>
            </mat-menu>
        </mat-cell>
        </ng-container>
      
          <mat-header-row mat-header-row  *matHeaderRowDef="displayedColumns"  ></mat-header-row>
          <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter {{this.filterValue}} </td>
          </tr>
       </table>
       <mat-paginator
       [length]="DataNumber"
       [pageSizeOptions]="[5, 10, 20]"
       showFirstLastButtons
        >
        </mat-paginator>   
    </div>
</div>
<div [hidden]="!isEmpty">
      <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
        <img src="../../../../../assets/img/empty.svg" style="width: 250px;" alt="Logo">
        <h2>No Category Founds </h2>
        <h3>Create Category from here</h3>
      </div>
</div>
        </div> 
    </mat-card-content>
</mat-card>

