.container {
    display: flex;
    justify-content:start;

    .left-side {
    text-align: center;
    margin-left: 50px;
    }

    .right-side {
     width: 600px;
     margin-left: 150px;
     margin-top: 70px;
     span {
        margin-left: 10px;
        font-size: 17px;
     }
    }
}
