<mat-card
    class="mb-25 tagus-card"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Profile</h5>
    </mat-card-header>
    <mat-card-content>
            <div class="container">
            
            <div class="left-side">
              <h5 class="fw-semibold mb-8 mt-5">Your Photo</h5>
              <img src="assets/img/user/user15.jpg" class="" width="250" alt="user">
            </div>
            <div class="right-side">
                    <div class="d-flex">
                        <h5 class="gray-color">Full Name:</h5>
                        <span>{{userData.fullName}}</span>
                    </div>
                    <div class="d-flex">
                        <h5 class="gray-color">Username:</h5>
                         <span >{{userData.username}}</span>  
                    </div>
                    <div class="d-flex">
                        <h5 class="gray-color">Email Address:</h5>
                        <span class="">{{userData.email}}</span> 
                    </div>
                
            </div>
            </div>
    </mat-card-content>
</mat-card>