
<div  class="example-container" [hidden]="isEmpty">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div>
       <table  
        mat-table 
        matSort 
        color="primary" 
        matSortActive="{{sortActive}}"
        matSortDirection="asc"
        [dataSource]="dataSource"
        (matSortChange)="announceSortChange($event)">
      
      <ng-container *ngFor="let tableColumn of displayedColumns" [matColumnDef]="tableColumn">
        <th mat-header-cell *matHeaderCellDef  [mat-sort-header]="isSortable(tableColumn)" [disabled]="tableColumn === this.displayedColumns[this.displayedColumns.length - 1] ? true : false ">
           {{tableColumn}}
        </th>
        <td mat-cell *matCellDef="let element" class="text-start" >
          <ng-container *ngIf="!(tableColumn === this.displayedColumns[this.displayedColumns.length - 1]); else otherData">
            <ng-container *ngIf="tableColumn === this.displayedColumns[imagePosition]">
                <img mat-card-avatar alt="" [src]="element.imageUrl" >
            </ng-container>  
            
              {{ getValueForColumn(element, tableColumn) }}
            
          </ng-container>
          <ng-template  #otherData>
          
            <ng-container *ngIf="tableColumn === this.displayedColumns[this.displayedColumns.length - 1]" >
              <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{element: element}">
                <i class="ri-more-fill"></i>
              </button>
            </ng-container>
          </ng-template>
           
          </td>
      </ng-container>
          <tr mat-header-row  *matHeaderRowDef="displayedColumns"  ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter {{this.filterValue}} </td>
          </tr>
       </table>
    </div>
   
          <mat-paginator 
                    [length]="DataNumber"
                    [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    >
          </mat-paginator>
</div>

<div [hidden]="!isEmpty">
      <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
        <img src="../../../../../assets/img/empty.svg" style="width: 250px;" alt="Logo">
        <h2>No Products Founds </h2>
        <h3>Create Products from here</h3>
      </div>
</div>
    


    <mat-menu class="dotMenu two monthMenu" xPosition="after" #appMenu="matMenu">
      <ng-template matMenuContent let-element="element">
        <ng-container  *ngFor="let Item of Items">
          <ng-container [ngSwitch]="Item">
            <button mat-menu-item type="button" class="bg-transparent border-none position-relative" *ngSwitchCase="'Edit'" (click)="openDialogEdit(element)">
              {{Item}}
            </button>
            <button mat-menu-item type="button" class="bg-transparent border-none position-relative" *ngSwitchCase="'Delete'" (click)="deleteData(element)">
              {{Item}} 
            </button>
            </ng-container>
        </ng-container> 
      </ng-template>
    </mat-menu>
    
    
    
    