
<div class="" (click)="$event.stopPropagation()">
    <mat-card-header>
      <h5 class="mb-20">Shopping Cart</h5>
    </mat-card-header>
    <mat-card-content>
      <ng-scrollbar visibility="hover" style="height: 30vh;">
        <div *ngIf="cartItems.length !=0" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="fw-semibold gray-color text-start">Product</th>
                <th class="fw-semibold gray-color text-center">Quantity</th>
                <th class="fw-semibold gray-color">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td class="text-start">
                  <a class="d-flex align-items-center product-info">
                    <div style="padding-right:10px; width: 50px; height: 40px; overflow: hidden;">
                      <img [src]="item.product.imageUrl" class="border-radius" style="width: 100%; height: 100%;">
                    </div>            
                    <div class="title">
                      <h5 class="fw-semibold mb-5">{{ item.product.name.length > 15 ? item.product.name.slice(0, 15) + '. . .' : item.product.name }}</h5>
                      <span class="d-block muted-color fw-medium">{{item.product.priceAfterDiscount}}</span>
                    </div>
                  </a>
                </td>
                <td class="gray-color text-center">
                  <div class="num-block skin-2">
                    <div class="num-in">
                      <span class="minus" [ngClass]="{'dis': item.quantity <= 1}" (click)="minusAction(item)"></span>
                      <input type="number" class="in-num" [(ngModel)]="item.quantity" (ngModelChange)="validateQuantity(item)">
                      <span class="plus" [ngClass]="{'dis': item.quantity >= item.product.stockQuantity}" (click)="plusAction(item)"></span>
                    </div>
                  </div>    
                </td>
                <td>
                  <a class="action-btn" (click)="remove(item.product.productId)">
                    <i class="ri-delete-bin-7-line"></i>
                  </a> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="cartItems.length ==0" class="mt-25">
            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <img src="../../../../../assets/img/empty-cart.webp" style="width: 100px;" alt="Logo">
                <h4>Cart Is Empty</h4>
            </div>
        </div>    
      </ng-scrollbar>
      <div  *ngIf="cartItems.length !=0" class=" ps-0 mb-0 mt-25" >
        <div class="fw-semibold d-flex align-items-center justify-content-space-between">
          Total (USD) : <span class="fw-semibold">{{totalPrice}}</span>
        </div>
        <a routerLink="/home/checkout" mat-fab extended class="mt-10 default-btn tagus" (click)="goToCheckout()">
           Go To Checkout
        </a>
      </div>
    </mat-card-content>
</div>


